$bg-color: #FFFFFF;
$bg-yellow: #FFC857;
$bg-main: #192b3d;
$tag-color: #192b3d;
$PhoneSize: 767px;

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, sans-serif;
}

#print {
  margin: 0;
  font-family: "IPAexGothic", sans-serif;
  height: 100%;
}
.sheet.padding-10mm {
  padding: 10mm;
}

@media screen and (max-width: $PhoneSize) {
  * {   
    font-size: 6px;
  }
}

